<a href="https://colab.research.google.com/github/Rikipratama/Rikipratama/blob/main/Tracking_Nomor_duplikat_dengan_nama_pelanggan_berbeda.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
data = pd.read_excel("/content/data customer khusus apotek bantul 2024.xlsx")
print(data.head())

       Telepon     Nama Pelanggan Status Pelanggan
0  85244519695      APOTEK SAFIRA           Apotek
1  85643551787     OUTLET IMOGIRI  Cabang Internal
2  81392144978            TKP EDO          Perawat
3  89608276383  OUTLET NUMBER ONE  Cabang Internal
4  82223100719      OUTLET BROSOT  Cabang Internal

In [2]:
data.columns

Index(['Telepon', 'Nama Pelanggan', 'Status Pelanggan'], dtype='object')

In [6]:
import pandas as pd

# Membaca file Excel
data = pd.read_excel("/content/data customer khusus apotek bantul 2024.xlsx")

# Mengelompokkan berdasarkan nomor telepon
grouped = data.groupby("Telepon").agg(lambda x: list(x)).reset_index()

# Menyiapkan struktur data baru
output_data = []

for _, row in grouped.iterrows():
    telepon = row["Telepon"]
    nama_pelanggan = row["Nama Pelanggan"]
    status_pelanggan = row["Status Pelanggan"][0]  # Status pelanggan diasumsikan sama

    # Membuat dictionary untuk setiap baris output
    row_dict = {
        "Telepon 1": telepon,
        "Status Pelanggan": status_pelanggan
    }

    # Menambahkan nama pelanggan secara dinamis
    for i, nama in enumerate(nama_pelanggan):
        row_dict[f"Nama {i+1}"] = nama

    output_data.append(row_dict)

# Mengubah list of dict menjadi DataFrame
output_df = pd.DataFrame(output_data)

# Menampilkan hasil
print(output_df.head())

# Menyimpan hasil ke file Excel
output_df.to_excel("output_customer_grouped.xlsx", index=False)

   Telepon 1 Status Pelanggan              Nama 1 Nama 2
0  123452781         Instansi        MITRA HUSADA    NaN
1  123456789        Pelanggan       OUTNET NAJMAH    NaN
2  435483042        Pelanggan        DIAH PUSPITA    NaN
3  811252834           Dokter  TKD WIWIEK EKAWATI    NaN
4  811257926        Pelanggan           BPK TOHIR    NaN